<section class="w3l-bottom-grids py-5" id="steps">
    <div class="container py-lg-5 py-md-4 py-2">
        <div class="grids-area-hny main-cont-wthree-fea row">
            <div class="col-lg-4 col-md-6 grids-feature">
                <div class="area-box no-box-shadow text-left">
                    <span class="fa fa-search-plus"></span>
                    <h5>Her Şey Tek Yerde</h5>
                    <h4><a href="#feature" class="title-head">Hayalinizdeki Evi Bulmak İçin Tek Nokta</a></h4>
                    <p>Aradığınız evi kolayca bulun. Size en uygun seçenekleri bir arada sunuyoruz.</p>
                    <a href="#more" class="more">Ev Ara <span class="fa fa-long-arrow-right"></span> </a>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 grids-feature mt-md-0 mt-4">
                <div class="area-box no-box-shadow text-left">
                    <span class="fa fa-user-o"></span>
                    <h5>Uzmanla Görüşün</h5>
                    <h4><a href="#feature" class="title-head">Ücretsiz ve Yükümlülük Olmayan Görüşme Planlayın</a></h4>
                    <p>Alanında uzman gayrimenkul danışmanlarımızla hemen iletişime geçin.</p>
                    <a href="#more" class="more">Danışman Bul <span class="fa fa-long-arrow-right"></span> </a>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 grids-feature mt-lg-0 mt-4">
                <div class="area-box no-box-shadow text-left">
                    <span class="fa fa-home"></span>
                    <h5>Evinizin Değerini Öğrenin</h5>
                    <h4><a href="#feature" class="title-head">Mülkünüzün Gerçek Değerini Keşfedin </a></h4>
                    <p>Uzman ekibimizle evinizin piyasa değerini öğrenin ve doğru yatırım kararları alın.</p>
                    <a href="#more" class="more">Bilgi Gönder <span class="fa fa-long-arrow-right"></span> </a>
                </div>
            </div>
        </div>
    </div>
</section>